pytest>=2.6.1
pytest-mock>=0.8.1
pytest-rerunfailures>=0.05
eventlet>=0.15  # python>=2.6,<3
gevent>=1  # python>=2.5,<3 no-pypy
gevent>=1.1a1  # python>=3
greenlet>=0.4.4  # python>=2.4
yappi>=0.92  # python>=2.6,!=3.0 no-pypy
