language: python
python:
- 2.6
- 2.7
- 3.2
- 3.3
- 3.4
- pypy
- pypy3
install:
- pip install flake8 pytest
- pip install -e .
script:
- | # flake8
  if python -c 'import sys; sys.version_info < (3, 3) or sys.exit(1)'
  then
    EXCLUDE=profiling/remote/asyncio.py
  fi
  flake8 profiling test setup.py \
    -v --show-source --ignore=E301 --exclude=$EXCLUDE
- | # pytest
  py.test -v
